body {
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 18px;
    background-color: #EDEDED;
}

h2 {
    text-decoration: underline;
    padding: 20px;
    margin: 10px 5px;
    letter-spacing: 3px;
    background-color: #3B516B;
    border-radius: 10px;
    color: floralwhite;

/*
⦁	Decorate the text with underline
⦁	Paddings: 20px
⦁	Top & bottom margin 10px
⦁	Left & right margin 5px
⦁	Space between letters: 3px
⦁	Background color: #3B516B
⦁	Radius of the border: 10px
⦁	Text color: floralwhite */
}

li {
    margin-left: 20px;
}

